<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>
<body>

<h1 th:text="${boardEntity.title}">제목입니다.</h1>
<p th:text="${boardEntity.content}">내용이 들어갈 부분입니다.</p>
<a th:href="@{/boardEntity/delete(id=${boardEntity.id})}">글삭제</a>
<a th:href="@{/boardEntity/modify/{id}(id = ${boardEntity.id})}">수정</a>

<div id="commentEntitiy-write">
    <input type="text" id="commentWriter" placeholder="작성자">
    <input type="text" id="commentContents" placeholder="내용">
    <button id="commentEntitiy-write-btn" onclick="commentWrite()">댓글작성</button>
</div>


<div id="commentEntitiy-list">
    <table>
        <tr>
            <th>댓글번호</th>
            <th>작성자</th>
            <th>내용</th>
            <th>작성시간</th>
        </tr>
        <tr th:each="commentEntitiy: ${commentList}">
            <td th:text="${commentEntitiy.id}"></td>
            <td th:text="${commentEntitiy.commentWriter}"></td>
            <td th:text="${commentEntitiy.commentContents}"></td>
            <td th:text="${commentEntitiy.commentSavedTime}"></td>
        </tr>
    </table>
</div>

</body>
<script th:inline="javascript">
    const commentWrite = () => {
        const writer = document.getElementById("commentWriter").value;
        const contents = document.getElementById("commentContents").value;
        console.log("작성자: ", writer);
        console.log("내용: ", contents);
        const id = [[${boardEntity.id}]];
        $.ajax({

            type: "post",
            url: "/commentEntitiy/save",
            data: {
                "commentWriter": writer,
                "commentContents": contents,
                "boardId": id
            },
            success: function (res) {
                console.log("요청성공", res);
                let output = "<table>";
                output += "<tr><th>댓글번호</th>";
                output += "<th>작성자</th>";
                output += "<th>내용</th>";
                output += "<th>작성시간</th></tr>";
                for (let i in res) {
                    output += "<tr>";
                    output += "<td>" + res[i].id + "</td>";
                    output += "<td>" + res[i].commentWriter + "</td>";
                    output += "<td>" + res[i].commentContents + "</td>";
                    output += "<td>" + res[i].commentSavedTime + "</td>";
                    output += "</tr>";
                }
                output += "</table>";
                document.getElementById('commentEntitiy-list').innerHTML = output;
                document.getElementById('commentWriter').value = '';
                document.getElementById('commentContents').value = '';
            },
        });

    }
</script>
</html>