<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>메인페이지</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link href="/css/map.css" rel="stylesheet">
</head>
<body>
<body topmargin="0"  leftmargin="0" marginwidth="1" marginheight="0"></body>
<div>
    <a href="Mainpage.html"></a>
    <img id="로고" src="/nsulogo.png" alt="로고">
    <a id="게시판" href="/nsuBoard/Board">게시판</a>
    <a id="강의실예약" href="/nsuBoard/Reservation">강의실 예약</a>
    <form action="/" method="post">
        <input id="로그아웃" type="submit" value="logout" name="logout"/>
    </form>
</div>
<div class="div01"></div>
<img id="프로필사진" src="/profile.png" alt="프로필사진" width="80" height="86"/>
<span id="이름">신재원</span>
<span id="학과">컴퓨터 학과</span>
<div class="div02"></div>

<div id="wrap">
    <div class="center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.2098790975633!2d127.1430027257512!3d36.909246000363794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b2f1fdafa02e9%3A0xc540b983501b1521!2z64Ko7ISc7Jq464yA7ZWZ6rWQ!5e0!3m2!1sko!2skr!4v1677345218769!5m2!1sko!2skr"
                width="800" height="600"  div style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</div><!-- //wrap -->
</body>
</html>