<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/building1_02_5F.css" rel="stylesheet">
    <title>공학 1관</title>
</head>
<body>
<body topmargin="0"  leftmargin="0" marginwidth="1" marginheight="0"></body>
<div class="div01">
    <a href="Mainpage.html">
        <img id="로고" src="/nsulogo.png" alt="로고">
    <a id="게시판" href="/nsuBoard/Board">게시판</a>
    <a id="강의실예약" href="/nsuBoard/Reservation">강의실 예약</a>
    <form action="/" method="post">
        <input id="로그아웃" type="submit" value="logout" name="logout"/>
    </form>
</div>

<img id="프로필사진" src="/profile.png" alt="프로필사진" width="80" height="86"/>
<span id="이름">신재원</span>
<span id="학과">컴퓨터 학과</span>
<div class="div02"></div>
<span id="오층">5F</span>
<span id="엘리베이터">엘리베이터</span>
<ul class="목록">
    <li><a id="교실1" href="/nsuBoard/classroom1">501</a></li>
    <li><a id="교실2" href="/nsuBoard/classroom2">502</a></li>
    <li><a id="교실3" href="#">503</a></li>
    <li><a id="교실4" href="#">504</a></li>
    <li><span id="화장실">화장실</span></li>
    <li><span id="휴게실">휴게실</span></li>
</ul>
<ul class="목록2">
    <li><a id="교실5" href="#">505</a></li>
    <li><a id="교실6" href="#">506</a></li>
    <li><a id="교실7" href="#">507</a></li>
    <li><a id="교실8" href="#">508</a></li>
    <li><span id="교실9">학회실</span></li>
    <li><span id="휴게실2">휴게실</span></li>
</ul>
<span id="중앙계단">중앙계단</span>
</body>
</html>