*{
    
    font-family: 'Inter';
    font-style: normal;
    list-style: none;
    text-decoration: none;
    color:#000000
}
.div01{
    background-color: rgba(176, 196, 222, 0.5);
    margin: 0px;
    width: auto;
    height: 100px;
    display: flex;
}
.div02{
    content: "";
    position: absolute;
    top: 10.7%;
    left: 200px;
    display: block;
    width: 1px;
    height: 89.3%;
    background: #000000;
}
#로고{
    position: absolute;
    width: 100px;
    height: 88px;
    left: 55px;
    top: 1%;
}
#게시판{
    position: absolute;
    width: 129px;
    height: 54px;
    left: 283px;
    top: 2%;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
}
#강의실예약{
    position: absolute;
    width: 164px;
    height: 54px;
    left: 473px;
    top: 2%;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
}
#로그아웃{
    position: absolute;
    width: 168px;
    height: 52px;
    left: 1236px;
    top: 3%;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    text-align: center;
}
#프로필사진{
    position: absolute;
    width: 80px;
    height: 86px;
    left: 65px;
    top: 13%;
}
#이름{
    position: absolute;
    width: 166px;
    height: 57px;
    left: 20px;
    top: 25%;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    align-items: center;
    text-align: center;
}
#학과{
    position: absolute;
    width: 207px;
    height: 58px;
    left: 0px;
    top: 30%;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    align-items: center;
    text-align: center;
}
#뒤로{


    position: absolute;
    width: 91px;
    height: 75px;
    left: 285px;
    top: 133px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;

    color: #000000;
}
#교실명{
    position: absolute;
    left: 500px;
    top: 170px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #000000;
    font-size: 30px
}
.수업명 select{
    position: absolute;
    width: 233px;
    height: 38px;
    left: 630px;
    top: 176px;
    display: flex;
align-items: center;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 35px;
}
.수업시간 select{
    position: absolute;
    width: 100px;
    height: 38px;
    left: 900px;
    top: 176px;
    display: flex;
align-items: center;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 35px;
}
#칠판{
    box-sizing: border-box;
position: absolute;
width: 650px;
height: 40px;
left: 465px;
top: 286px;
background: rgba(176, 196, 222, 0.5);
border: 1px solid #000000;
text-align: center;
font-size: 25px;
align-items: center;
display: inline-block;
}
#좌석1, #좌석2, #좌석3, #좌석4, #좌석5, #좌석6{
    padding: 15px 20px;
    align-items: center;
    text-align: center;
    border: 1px solid #000000;
    display: inline-block;
}
#좌석3, #좌석5{
    margin-left: 40px;
}
.좌석1_6{
    display: flex;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
    font-size: 25px;
    left: 270px;
    top: 400px;
}

.좌석1_6 > li{
    margin-left: 20px;
    padding: 10px;
}
.좌석7_12{
    display: flex;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
    font-size: 25px;
    left: 270px;
    top: 500px;
}

.좌석7_12 > li{
    margin-left: 20px;
    padding: 10px;
}
.좌석13_18{
    display: flex;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
    font-size: 25px;
    left: 270px;
    top: 600px;
}

.좌석13_18 > li{
    margin-left: 20px;
    padding: 10px;
}
.좌석19_24{
    display: flex;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
    font-size: 25px;
    left: 270px;
    top: 700px;
}

.좌석19_24 > li{
    margin-left: 20px;
    padding: 10px;
}