*{
    
    font-family: 'Inter';
    font-style: normal;
    list-style: none;
    text-decoration: none;
    color:#000000
}
.div01{
    background-color: rgba(176, 196, 222, 0.5);
    margin: 0px;
    width: auto;
    height: 100px;
    display: flex;
}
.div02{
    content: "";
    position: absolute;
    top: 10.7%;
    left: 200px;
    display: block;
    width: 1px;
    height: 89.3%;
    background: #000000;
}
#로고{
    position: absolute;
    width: 100px;
    height: 88px;
    left: 55px;
    top: 1%;
}
#게시판{
    position: absolute;
    width: 129px;
    height: 54px;
    left: 283px;
    top: 2%;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
}
#강의실예약{
    position: absolute;
    width: 164px;
    height: 54px;
    left: 473px;
    top: 2%;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
}
#로그아웃{
    position: absolute;
    width: 168px;
    height: 52px;
    left: 1236px;
    top: 3%;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    text-align: center;
}
#프로필사진{
    position: absolute;
    width: 80px;
    height: 86px;
    left: 65px;
    top: 13%;
}
#이름{
    position: absolute;
    width: 166px;
    height: 57px;
    left: 20px;
    top: 25%;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    align-items: center;
    text-align: center;
}
#학과{
    position: absolute;
    width: 207px;
    height: 58px;
    left: 0px;
    top: 30%;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    align-items: center;
    text-align: center;
}
#오층{
    position: absolute;
    left: 790px;
    top: 170px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
    font-size: 30px
}
.목록{
    display: flex;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
    font-size: 25px;
    left: 300px;
    top: 400px;
}
#엘리베이터{
    position: absolute;
    width: 45px;
    height: 212px;
    left: 354px;
    top: 400px;
    border: 1px solid #000000;
    padding: 20px 20px;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
}
#교실1, #교실2, #교실3, #교실4, #화장실, #휴게실{
    padding: 15px 30px;
    align-items: center;
    text-align: center;
    border: 1px solid #000000;
    display: inline-block;
    background-color: rgba(176, 196, 222, 0.5);
}
#교실2, #교실3, #교실4, #화장실, #휴게실{
    border-left: 0;
}
.목록2{
    display: flex;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
    font-size: 25px;
    left: 300px;
    top: 589px;
}
#교실5, #교실6, #교실7, #교실8, #교실9, #휴게실2{
    padding: 15px 30px;
    align-items: center;
    text-align: center;
    border: 1px solid #000000;
    display: inline-block;
    background-color: rgba(176, 196, 222, 0.5);
}
#교실6, #교실7, #교실8, #교실9, #휴게실2{
    border-left: 0;
}
#중앙계단{
    position: absolute;
    width: 45px;
    height: 212px;
    left: 1211px;
    top: 400px;
    border: 1px solid #000000;
    padding: 20px 20px;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
}