*{
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    list-style: none;
    text-decoration: none;
    color:#000000
}
div{
    background-color: rgba(176, 196, 222, 0.5);
    margin: 0px;
    width: auto;
    height: 100px;
    display: flex;
}
.div01{
    content: "";
    position: absolute;
    top: 11.6%;
    display: block;
    width: 100%;
    height: 1px;
    background: #000000;
}
.div02{
    content: "";
    position: absolute;
    top: 11.6%;
    left: 200px;
    display: block;
    width: 1px;
    height: 88.4%;
    background: #000000;
}
#로고{
    position: absolute;
    width: 100px;
    height: 88px;
    left: 55px;
    top: 1%;
}
#게시판{
    position: absolute;
    width: 129px;
    height: 54px;
    left: 283px;
    top: 2%;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
}
#강의실예약{
    position: absolute;
    width: 164px;
    height: 54px;
    left: 473px;
    top: 2%;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
}
#로그아웃{
    position: absolute;
    width: 168px;
    height: 52px;
    left: 90%;
    top: 3%;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    text-align: center;
}
#프로필사진{
    position: absolute;
    width: 80px;
    height: 86px;
    left: 65px;
    top: 13%;
}
#이름{
    position: absolute;
    width: 166px;
    height: 57px;
    left: 20px;
    top: 25%;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    align-items: center;
    text-align: center;
}
#학과{
    position: absolute;
    width: 207px;
    height: 58px;
    left: 0px;
    top: 30%;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    align-items: center;
    text-align: center;
}