<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>

<form action="/nsuBoard/save" method="post">


    학번(아이디)
    <input type="text" name="student"> <br>
    비밀번호
    <input type="password" name="studentPassword"> <br>
    비밀번호 확인
    <input type="password" name="studentPasswordCheck"> <br>
    닉네임
    <input type="text" name="studentName"> <br>
    학과
    <input type="text" name="department"> <br>


    <input type="submit" value="회원가입">
    <!-- * 비밀번호는 한번만 설정 가능합니다 구현-->



</form>
</body>
</html>